#Nav {
    width: 100%;
    background-color: black;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

#home-link {
    color: white;
    text-decoration: none;
}

#cart-link {
    text-decoration: none;
}