body html {
    margin: 0;
    padding: 0;
}

#cart-title {
    text-align: center;
}

#total {
    text-align: center;
}

#cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

