.product {
    width: 30%;
    align-items: center;
    text-align: center;
    height: 500px;
    margin: 0 20px;
}

img {
    height: 200px;
}

.add-btn {
    margin: 0 2%;
}


@media only screen and (max-width: 700px) {
    .product {
        width: 100%;
    }
  }

  @media only screen and (min-width: 700px) {

    .product {
        width: 50%;
        margin: 20px 0;
    }

    img {
        height: 100px;
    }
  }

  @media only screen and (min-width: 950px) {
    .product {
        width: 30%;
    }
  }